@import "../../styles/variables";

.dialog-main {
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 40px 30px;
  }

  p {
    margin-bottom: 10px;
    color: $text-color;

    strong {
      color: $secondary-color;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
      font-size: 1.2rem;
    }
  }
}
