<div class="dialog-main">
  <p>Hi, my name is <strong>Paweł Nieczuja-Ostrowski</strong>. I'am a front-end developer.</p>
  <p>This <strong>CountriesBook</strong> project was made in Angular 16. It uses open source data from
    <a class="go-back-link" href="https://restcountries.com/" title="Go to the website" target="_blank">restcountries.com</a>. Icons were downloaded from open source service
    <a class="go-back-link" href="https://www.svgrepo.com/" title="Go to the website" target="_blank">svgrepo.com</a>.
  </p>
  <p>More information about me you can find on
    <a class="go-back-link" href="https://www.linkedin.com/in/pawe%C5%82-nieczuja-ostrowski-6b084a88/" title="Go to the website" target="_blank">LinkedIn</a>.</p>
</div>
