body {
  background-color: $base-bg-color;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

.view-wrapper {
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px;
  }
}

h1 {
  font-size: 2rem;
  color: $secondary-color;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 1.1rem;

  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.view-description {
  font-size: 1rem;
  color: $text-color;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
}

.go-back-link {
  color: $text-color;
  margin: 0 0 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover {
    color: $digital-black;
  }
}


.loader {
  margin: auto;
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    height: 50px;
    width: 50px;
    background-image: url("../assets/loader-circle-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  /* animacja */
  /* kolor */
}
