@import "../../../styles/variables";

footer {
  background-color: $base-color;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 80px;

  @media screen and (min-width: 768px) {
    padding: 10px 20px;
    min-height: 100px;
  }

  @media screen and (min-width: 1440px) {
    padding: 10px 40px;
  }

  .open-modal {
    margin: auto;
    padding: 10px 24px;
    border-radius: 25px;
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
    border: solid 1px $text-color;

    &:hover {
      background-color: $digital-white;
    }

    @media screen and (min-width: 768px) {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
