@import "../styles/variables";

header, footer {
  background-color: $base-color;
  display: flex;
  align-items: center;
  padding: 10px;

  @media screen and (min-width: 768px) {
    padding: 10px 20px;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 40px;
  }
}

header {
  height: 60px;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

main {
  padding: 10px;
  min-height: calc(100vh - 140px);

  @media screen and (min-width: 768px) {
    padding: 10px 20px;
    min-height: calc(100vh - 180px);
  }

  @media screen and (min-width: 1200px) {
    padding: 40px;
  }
}

footer {
  min-height: 80px;

  .open-modal {
    margin: auto;
    padding: 10px 24px;
    border-radius: 25px;
    background-color: transparent;
    transition: 0.2s;
    cursor: pointer;
    border: solid 1px $text-color;

    &:hover {
      background-color: $digital-white;
    }
  }

  @media screen and (min-width: 768px) {
    min-height: 100px;

    .open-modal {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

dialog {
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  border: none;

  &[open] {
    display: flex;
  }

  .dialog-content-wrapper {
    background-color: $digital-white;
    z-index: 100;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;

    @media screen and (min-width: 768px) {
      max-width: 80vw;
    }

    @media screen and (min-width: 1200px) {
      max-width: 60vw;
    }

    .dialog-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      background-color: $base-color;
      padding: 25px 20px;

      @media screen and (min-width: 768px) {
        padding: 40px 30px;
      }

      h2 {
        font-size: 1rem;
        line-height: 1;
      }

      button {
        margin-left: 15px;
        background-color: transparent;
        cursor: pointer;
        transition: .2s;
        border-radius: 50%;
        border: solid 1px $text-color;
        line-height: 1;
        height: 30px;
        width: 30px;
        text-align: center;

        &:hover {
          background-color: $digital-white;
        }
      }
    }
  }
}
